
html {
  font-size: 100%;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

#welcome-to-the-isda-cdm-documentation .image-reference {
  display: none;
}

.md-header {
    border-bottom: 1px solid;
}

.md-header[data-md-state=shadow] {
    transition:none;
    box-shadow:none;
}

.md-header-nav__topic {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
}

.md-header {
    background: #f5f5f5;
    color: rgba(0,0,0,.87);
    height:auto;
}

a.md-logo {
  padding: 6px 12px 6px 19.2px;
  margin: 0;
}

.md-logo img {
  height: 26px;
}

.md-logo-info {
  display: flex;
  align-items: center;
}


.md-header-nav__button.md-icon--home, .md-header-nav__button.md-logo {
  display: inherit;
}

@media only screen and (max-width: 60em) {
  .md-logo-info {
    display: none;
  }
}

@media only screen and (min-width: 76.1875em) {
  .md-sidebar--secondary {
    margin-left: 73rem;
    display: inherit;
  }
}

@media only screen and (min-width: 88.25em) {
  .md-sidebar--secondary {
    margin-left: 73rem;
    display: inherit;
  }
}

/* @media only screen and (max-width: 60em) {
  .md-header-nav__button.md-icon--home, .md-header-nav__button.md-logo {
    display: inherit;
  }
  .md-sidebar--secondary {
    margin-left: 73rem;
  }
} */
/* @media only screen and (min-width:60em) {
  .md-header-nav__button.md-icon--home, .md-header-nav__button.md-logo, .logo-container {
    display: none;
  }
} */

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-docs {
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  line-height: 1;
  font-size: 12px;
}

.logo-divider {
  height: 20px;
  display: inline-block;
  width: 1px;
  margin: 0 8px;
  background: rgba(0,0,0,.87);
}

.logo-tier {
  font: 500 20px/32px Roboto,Helvetica Neue,sans-serif;
  letter-spacing: normal;
  white-space: nowrap;
  color: #c4297d;
  margin-left: 10px;
  line-height: 1;
  font-size: 12px;
}

.md-footer {
  border-top-color: rgba(0,0,0,.12);
  border-top: 1px solid;
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  max-height: 73px;
}

.md-footer-nav {
  background: #f5f5f5;
  color: rgba(0,0,0,.87);
}

.md-footer-nav__direction {
  color: black;
}

.md-typeset {
  font-size: 1.2rem;
}

.md-nav {
  font-size: 1rem;
}

[data-md-color-primary=blue] .md-header, [data-md-color-primary=blue] .md-hero {
    background-color: #f5f5f5;
}

.rosetta-brand-wrapper {
  display: flex;
  line-height: 0;
}

.rosetta-brand-wrapper > img {
    margin-left: 16px;
}

.rosetta-brand-wrapper > p {
  align-items: center;
  display: flex;
  font-size: 2em;
  margin: 0;
}

.rosetta-brand-wrapper > p::before {
  content: url("data:image/svg+xml;charset=UTF-8,<svg width='1' height='64' viewBox='0 0 1 64' fill='black' xmlns='http://www.w3.org/2000/svg'><rect width='1' height='63.7' fill='black'/></svg>");
  margin-left: 20px;
  margin-right: 20px;
}

.rosetta-dsl-image > span {
    font-size: 32px;
}
