# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# User-specific stuff:
.idea/
*.iml
.classpath
.project
.settings/

# MacOS system files
*.DS_Store

# DAML system files
.daml

src-gen/
src/main/generated-sources/
target/

/bin/
/documentation/build/

.vscode/

# python virtual env files
venv/

# Oxygen XML files
*.xpr

**/src/generated
**/src/test/generated
/tests/cdm-sample-files/
/.metadata/
*.pyc

# Docusaurus website
website/.docusaurus
website/build
website/node_modules
website/static/schemas
website/.schema-temp

# CVE scan reports
/reports/
