<!DOCTYPE module PUBLIC
        "-//Puppy Crawl//DTD Check Configuration 1.3//EN"
        "http://www.puppycrawl.com/dtds/configuration_1_3.dtd">
<module name="Checker">
    <property name="localeCountry" value="UK"/>
    <property name="localeLanguage" value="en"/>
    <module name="TreeWalker">
        <!-- Forbid using Google Inject in favour of javax/jakarta Inject. -->
        <module name="IllegalImport">
            <property name="illegalClasses"
                      value="com.google.inject.Inject, com.google.inject.name.Named, com.google.inject.Provider, com.google.inject.Singleton" />
            <property name="illegalPkgs"
                      value="javax.inject" />
        </module>
    </module>
    <module name="BeforeExecutionExclusionFileFilter">
        <!-- Exclude any generated source folders -->
        <property name="fileNamePattern" value=".*-gen[\\/].*$" />
    </module>
</module>
