type ContractualProduct:
    [metadata key]
    [metadata template]
    productIdentification ProductIdentification (0..1)
    productTaxonomy ProductTaxonomy (0..*)
    economicTerms EconomicTerms (1..1)
