type TradableProduct: 
    product Product (0..1)
    tradeLot TradeLot (1..*)
    counterparties Counterparty (2..2)
    relatedParties RelatedPartyReference (0..*)
    adjustment NotionalAdjustmentEnum (0..1)
    condition PriceQuantityTriangulation:
    PriceQuantityTriangulation( priceNotation, quantityNotation ) = True
