type Product:
	[metadata key]
	contractualProduct ContractualProduct (0..1)
	index Index (0..1)
	loan Loan (0..1)
	foreignExchange ForeignExchange (0..1)
	commodity Commodity (0..1)
	[metadata address "pointsTo"=Observable->commodity]
	security Security (0..1)
	condition: one-of
