<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Send debug messages to System.out -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- By default, encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
        <encoder>
            <pattern>%-5level %logger{15} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="cdm" level="DEBUG" />
    <logger name="org.finos" level="DEBUG" />
    <logger name="org.isda" level="DEBUG" />
    <logger name="com.regnosys.rosetta.translate.CompilerToClasses" level="DEBUG" />
    <logger name="com.regnosys.rosetta.common.translation.MappingProcessorStep" level="DEBUG" />
<!--    <logger name="com.regnosys.ingest.test.framework.ingestor" level="DEBUG" />-->
<!--    <logger name="com.regnosys.rosetta.common.validation" level="DEBUG" />-->
<!--    <logger name="com.regnosys.rosetta.common.hashing.ReferenceResolverProcessStep" level="INFO" />-->
    
    <!-- By default, the level of the root level is set to DEBUG -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>