/* FpML.CodeListSet.genericode.css
Stylesheet for presenting FpML set of schemes from genericode xml. 
Draft 2023-12-01
Please comments and requests via 
https://www.fpml.org/submit-issue/
*/

@namespace doc "http://www.fpml.org/coding-scheme/documentation";

doc|publicationDate::before {
	content: "Published ";
}

doc|status::before {
	content: "Status ";
}

CodeListSet {
	padding: 1rem;
}

CodeListSet > Annotation, Identification, SimpleCodeList {
	display: block;
}

Annotation {
	padding:     1rem;
	font-weight: bold;
}

/* Using this "hack" as an alternative to being unable to target child elements so we can clean up a bit */
CodeListSet > Annotation > Description {
	display:         flex;
	flex-direction:  column;
	justify-content: space-around;
	align-items:     flex-start;
	flex-wrap:       wrap;
}

ul[class=bulleted] {
	font-weight: normal;
}

li {
	display:     list-item;
	list-style:  disc inside;
	margin-left: 40px;
	padding:     5px 0;
}

ul ul ul {
	font-weight: normal;
}

Identification, CodeListRef {
	font-family:     monospace;
	display:         table;
	border-collapse: collapse;
/*
	width:           800px;
*/
	border:          1px solid #000;
	margin-bottom:   1rem;
}

Identification ShortName,
Identification Version,
Identification CanonicalUri,
Identification CanonicalVersionUri,
Identification LocationUri,
CodeListRef CanonicalUri,
CodeListRef CanonicalVersionUri,
CodeListRef LocationUri {
	display:       table-row;
	border-bottom: 1px solid #000;
}

CodeListRef Annotation {
	display: table-caption;
	border: 1px solid #000;
	border-bottom: none;
}

/*Identification {*/
/*	border-bottom: 1px solid #000;*/
/*	padding-bottom: 1rem;*/
/*	width: 95%;*/
/*}*/

Identification ::before,
CodeListRef ::before {
	display: table-cell;
	padding: .5rem;
}

Identification ShortName,
CodeListRef ShortName {
	font-weight:      bold;
	background-color: #fafafa;
}

Identification ShortName::before {
	content: "ShortName";
}

Identification Version::before {
	content: "Version";
}

Identification CanonicalUri::before,
CodeListRef CanonicalUri::before {
	content: "CanonicalUri";
}

Identification CanonicalVersionUri::before,
CodeListRef CanonicalVersionUri::before {
	content: "CanonicalVersionUri";
}

Identification LocationUri::before,
CodeListRef LocationUri::before {
	content: "LocationUri";
}

CodeListRef > Annotation {
	background-color: #fafafa;
}