/* FpML.CodeList.genericode.css
Stylesheet for presenting FpML coding schemes from genericode xml. 
Draft 2023-12-01
Please submit comments and requests via 
https://www.fpml.org/submit-issue/
*/

@namespace doc "http://www.fpml.org/coding-scheme/documentation";

doc|publicationDate::before {
	content: "Published ";
}

doc|status::before {
	content: "Status ";
}

CodeList {
	padding: 1rem;
}

Annotation, Identification, SimpleCodeList {
	display: block;
}

Annotation {
	padding:     1rem 0;
	font-weight: bold;
}

Annotation > Description {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
	flex-wrap: wrap;
}

Identification {
	font-family:     monospace;
	display:         table;
	border-collapse: collapse;
/*
	width:           600px;
*/
	border:          1px solid #000;
	margin-bottom:   1rem;
}

Identification ShortName,
Identification Version,
Identification CanonicalUri,
Identification CanonicalVersionUri,
Identification LocationUri {
	display:       table-row;
	border-bottom: 1px solid #000;
}

Identification ShortName {
	font-weight:      bold;
	background-color: #fafafa;
}

Identification ::before {
	display: table-cell;
	padding: .5rem;
}

Identification ShortName::before {
	content: "ShortName";
}

Identification Version::before {
	content: "Version";
}

Identification CanonicalUri::before {
	content: "CanonicalUri";
}

Identification CanonicalVersionUri::before {
	content: "CanonicalVersionUri";
}

Identification LocationUri::before {
	content: "LocationUri";
}

ColumnSet, SimpleCodeList {
	width:      100%;
	border:     1px solid #000;
}

ColumnSet {
	display:       flex;
	border-bottom: none;
	background: #f8f9fa;
}

ColumnSet Column {
	padding: 1rem;
}

ColumnSet Column:first-child,
SimpleCodeList Row Value:nth-of-type(1) {
	width: 15%;
}


ColumnSet Column:nth-child(3),
SimpleCodeList Row Value:nth-of-type(3){
	width: 75%;
}



Column ShortName {
	font-weight: bold;
}


Data[Type=token] Parameter,
ColumnSet Key,
ColumnSet Column:nth-child(2),
ColumnSet Column:nth-child(4),
SimpleCodeList Row Value:nth-of-type(2),
SimpleCodeList Row Value:nth-of-type(4)
{
	display: none;
}

SimpleCodeList Row {
	display: block;
	position: relative;
	border-top: 1px solid #000;
}
SimpleCodeList Row:first-child {
	border-top: none;
}

SimpleCodeList Row Value  {
	padding:        1rem;
	display:        inline-block;
	vertical-align: top;
	text-align:     left;
}

SimpleCodeList Row Annotation  {
	padding: 0 1rem;
}
