name: CVE Scanning for Maven

on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - 'pom.xml'
      - 'allow-list.xml'
      - '.github/workflows/cve-scanning.yml'
  pull_request:
    paths:
      - 'pom.xml'
      - 'allow-list.xml'
      - '.github/workflows/cve-scanning.yml'

jobs:
  depcheck:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      run: mvn clean install -DskipTests
    - name: CVE scanning
      uses: dependency-check/Dependency-Check_Action@v1
      env:
        JAVA_HOME: /opt/jdk
      with:
        project: 'Common Domain Model'
        path: '.'
        format: 'HTML'
        out: 'reports'
        args: >
          --suppression allow-list.xml
          --failOnCVSS 7
    - name: Upload results
      uses: actions/upload-artifact@v3
      with:
        name: CVE Scan Report
        path: ${{github.workspace}}/reports
